{% extends 'base.html' %}

{% block head %}{% endblock %} 

{% block body %}

<form method="post">

<div class="container"> 
    <div class="header">
        <h1 class="heading" style="text-align: center">Sentiment Analyzer</h1>
    </div>

    <div class="content-large">
        <textarea class="text-box" type="text" id="data" name="data" placeholder="Enter some text here..."></textarea>
        <input type="submit" id="accept-data" name="accept-data" value="Analyze" class="add-task-button">
        <input type="submit" id="accept-file" name="accept-file" value="Browse" class="add-task-button">
    </div>

    <div class="content-large" method="post">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Ooopss!!!</strong> Looks like you haven't entered any text. Please enter some text.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
                <div class="card" style="width: 16rem; height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Positive Score</h5>
                        <p class="card-text"> {{ results[3] }} </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 16rem; height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Negative Score</h5>
                        <p class="card-text">{{ results[1] }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 16rem; height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Neutral Score</h5>
                        <p class="card-text">{{ results[2] }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 16rem; height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Overall Score</h5>
                        {% if score_dict|length > 0 %}
                        {% if score_dict['compound'] >= 0.5 %}
                            <p class="card-text">Positive {{ score_dict['compound'] }} </p>
                        {% elif score_dict['compound'] <= -0.5 %}
                            <p class="card-text">Negative {{ score_dict['compound'] }} </p>
                        {% else %}
                            <p class="card-text">Neutral {{ score_dict['compound'] }} </p>
                        {% endif%}
                        {% endif %}
                        <!-- {{ score_dict['compound'] }} -->
                        
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <canvas id="lineChart" width="600" height="300"></canvas>
        
        <script>
            var ctx = document.getElementById("lineChart").getContext("2d");
            var lineChart = new Chart(ctx, {
                type:"line",
                data:{
                    labels: {{ labels | safe }},
                    datasets: [
                        {
                            label: "Data Points",
                            data: {{ values | safe}},
                            fill: false,
                            borderColor: "rgb(255, 61, 139)",
                            lineTension: 0.5
                        }
                    ]
                },
                options: {
                    responsive: false
                }
            });
        </script>
    </div>

    <div class="footer" style="height: 400; width: 700">
        <canvas id="pieChart" width="600" height="300"></canvas>
        <script>
            var ctx = document.getElementById("pieChart").getContext("2d");
            var pieChart = new Chart(ctx, {
                type: 'pie', 
                data:{
                    labels: {{ labels | safe }},
                    datasets: [
                        {
                            label: "Data",
                            data: {{ values | safe}},
                            backgroundColor: [
                                'rgb(222, 27, 13)',
                                'rgb(235, 242, 31)',
                                'rgb(22, 166, 62)'
                            ],
                            hoverOffset: 4
                        }
                    ]
                }
            });
            // document.write("{{ values }}")
        </script>
    </div>

</div>

       
</form>

{% endblock %}

